
FatecRP.EmpreendeRP.Web/obj/Debug/CoreCompileInputs.cache
.vs/FatecRP.EmpreendeRP.Web/v15/.suo
FatecRP.EmpreendeRP.Web/bin/FatecRP.EmpreendeRP.Web.dll
FatecRP.EmpreendeRP.Web/bin/FatecRP.EmpreendeRP.Web.pdb
*.dll
FatecRP.EmpreendeRP.Web/FatecRP.EmpreendeRP.Web.csproj
FatecRP.EmpreendeRP.Web/FatecRP.EmpreendeRP.Web.csproj.user
FatecRP.EmpreendeRP.Web/obj/Debug/CoreCompileInputs.cache
FatecRP.EmpreendeRP.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FatecRP.EmpreendeRP.Web/obj/Debug/FatecRP.EmpreendeRP.Web.csproj.FileListAbsolute.txt
FatecRP.EmpreendeRP.Web/obj/Debug/FatecRP.EmpreendeRP.Web.csprojResolveAssemblyReference.cache
FatecRP.EmpreendeRP.Web/obj/Debug/FatecRP.EmpreendeRP.Web.pdb
*.pdb
*.dll
*.csproj
*.cache
*.dll
*.pdb
*.csproj
*.user
*.config
*.cache
*.txt
*.exe
*.rsp
*.targets
*.xml
*.PublishSettings
*.pubxml
